Write a Python program to accept a string value from the user and display
the count of each character in that string

In [ ]:
user_input = input("Enter a string value:")
char_counts = {}
for char in user_input:
    char_counts[char] = char_counts.get(char, 0) +1
print("Character counts:")
for char, count in char_counts.items():
    print(f"{char}: {count}")

Enter a string value:assembly
Character counts:
a: 1
s: 2
e: 1
m: 1
b: 1
l: 1
y: 1

. Write a Python function to find the maximum of three numbers

In [ ]:
a=int(input('enter the first number:'))
b=int(input('enter the second number:'))
c=int(input('enter the third number:'))
if a>b and b>c:
        print(a)
elif b>a and b>c:
        print(b)
else:
        print(c)

enter the first number:34
enter the second number:12
enter the third number:7
34

 Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp

In [ ]:
def expp(base,exp):
  print(base**exp)
base=int(input('enter the base:'))
exp=int(input('enter the exponent:'))
expp(base,exp)

enter the base:2
enter the exponent:3
8

Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.

In [ ]:
def cube(n):
  sum=0
  for i in range(1,n):
    sum += i**3
  return sum
n=int(input("Enter a number:"))
cube(n)

Enter a number:4

36

Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.

In [ ]:
for i in range(1,11):
  if i%2==0 and i%5==0:
    print(" FizzBuzz",end="")
  elif i%2==0:
    print(" Fizz",end="")
  elif i%5==0:
    print(" Buzz",end="")
  else:
    print(i, end="")

1 Fizz3 Fizz Buzz Fizz7 Fizz9 FizzBuzz

Write a Python program to find the most frequent item in a list of
numbers

In [ ]:
def most_frequent(List):
    return max(set(List), key = List.count)

List = [2, 3, 4, 2, 5, 2]
print(most_frequent(List))

2

Write a Python program to find the sum of squares of the numbers in a
list

In [ ]:
def listsum(list):
  sum=0
  for i in list:
    sum += i **2
  return sum
list=[2,1,3,1]
listsum(list)

15

 Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even.

In [27]:
for i in range(1,16):
  if i%2==0:
    print(i,"- even")
  else:
    print(i,"- odd")

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41

In [29]:
fahrenheit = float(input("Enter temperature in fahrenheit: "))
celsius = (fahrenheit - 32) * 5/9
print('%.2f Fahrenheit is: %0.2f Celsius' %(fahrenheit, celsius))

Enter temperature in fahrenheit: 41
41.00 Fahrenheit is: 5.00 Celsius

Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.

In [30]:
def fact(n):
  if n==0:
    return 1
  else:
    return n * fact(n - 1)
n=int(input("Enter a number:"))
fact(n)

Enter a number:3

6