Write a Python program which accepts the radius of a circle from the user
and compute the area.

In [ ]:
radius=int(input('enter the radius :'))
radius=3.14*radius**2
print('area of the circle:',radius)

enter the radius :3
area of the circle: 28.26

 Write a Python Program to accept the details of a student like name, roll
number and mark and display it.

In [ ]:
name=input("enter the name:")
rollnum=int(input("enter the roll number:"))
mark=int(input("enter the mark:"))
print(name)
print(rollnum)
print(mark)

enter the name:anisha
enter the roll number:21
enter the mark:78
anisha
21
78

 Write a Python program to get the largest number from a list.

In [ ]:
largestnumber=[12,3,47,10]
print(max(largestnumber))

47

 Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.

In [ ]:
previousnum=0
for i in range(1,11):
  sum=previousnum+i
  print("current number ",i,"previous number ",previousnum,"sum: ",sum)
  previousnum=i

current number  1 previous number  0 sum:  1
current number  2 previous number  1 sum:  3
current number  3 previous number  2 sum:  5
current number  4 previous number  3 sum:  7
current number  5 previous number  4 sum:  9
current number  6 previous number  5 sum:  11
current number  7 previous number  6 sum:  13
current number  8 previous number  7 sum:  15
current number  9 previous number  8 sum:  17
current number  10 previous number  9 sum:  19

Write a Python program to print only those numbers which are divisible
of 5.

In [ ]:
num=[10,20,33,46,55]
print("numbers are:",num)
print("divisible by 5")
for i in num:
  if i%5==0:
    print(i)

numbers are: [10, 20, 33, 46, 55]
divisible by 5
10
20
55

Write a Python program to print only those numbers which are divisible
of 5.

In [ ]:
number=int(input('enter the number'))
if number>1:
  for i in range(2, number):
    if number%i==0:
      print(number, 'is not the prime')
      break
  else:
    print(number, 'is a prime number')
else:
  print(number, 'is not prime')

enter the number3
3 is a prime number

Write a Python program to reverse a list using for loop.

In [ ]:
list=[10,40,30,70]
for i in list[::-1]:
  print(i)

70
30
40
10

Write a Python program to print the following pattern.

In [21]:
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end='')
  print()

*
**
***
****
*****

Write a Python program to find the maximum of three numbers

In [ ]:
num=[34,12,7]
print(max(num))

34

 Write a Python program to construct the following pattern, using a
nested for loop.

In [25]:
num_rows = 5
for i in range(num_rows):
    for j in range(i + 1):
        print("*", end=" ")
    print()
for i in range(num_rows - 1, 0, -1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*